.main {
  border: 1px solid red;
  max-width: 600px;
  margin: 0 auto;
  background-color: #d3d3d3;
}

/*Header*/
.main-header {
  border: 1px solid green;
  height: 60px;
}

.header h1 {
  border: 1px solid grey;
  float: left;
  font-weight: lighter;
  width: 400px;
}
.add {
  border: 1px solid black;
  border-radius: 100%;
  margin-right: 20px;
  width: 45px;
  float: right;
}

.add p {
  text-align: center;
}

/*Main Container*/
.main-container {
  border: 1px solid black;
  margin-top: 50px;
  height: 600px;
}



/*Next Container*/
.next-container {
  border: 1px solid yellow;
  height: 100px;
}




/*Footer*/
.main-footer {
  border: 1px solid purple;
  height: 60px;
}
