.main {
  border: 1px solid #AAAAAA;
  max-width: 600px;
  height: 900px;
  margin: 10px auto;
  overflow-x: hidden;

  /*overflow: hidden;*/
  /*background-color: #d3d3d3;*/
}

/*Header*/
.main-header {
  /*border-bottom: 2px solid grey;*/
  position: fixed;
  /*display: */
  height: 60px;
  width: 600px;
  margin: 0 auto;
  padding-bottom: 30px;

  background-color: white;
}
.main-header::after {
    display: inline-block;
    margin-left: 50px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #AAAAAA;
    width: 500px;
  }

.header h1 {
  float: left;
  font-weight: lighter;
  width: 400px;
  margin-left: 15px;
  margin-bottom: 20px;
  color: #AAAAAA;
}

.add button {
  border: 1px solid #AAAAAA;
  border-radius: 100%;
  margin-right: 20px;
  margin-top: 15px;
  width: 50px;
  height: 50px;
  float: right;
  cursor: pointer;
  background-color: inherit;
  color: #AAAAAA;
  font-size: 40px;
}


/*Main Container*/
.main-container {
  /*border: 1px solid black;*/
  display: inline-block;
  margin-top: 90px;
  max-height: 840px;
  }
h2 {
  color: #AAAAAA;
}
p {
  color: #AAAAAA;
}
span {
  color: #AAAAAA;
}

.btn {
  border: none;
  background-color: inherit;
  color: #AAAAAA;
}
.btn:hover{
  text-decoration: underline;
  cursor: pointer;
}

/*Items*/
.unchecked h2 {
  text-decoration: none;
}
.unchecked li {
  list-style-type: circle;
}

.item-title {
  font-weight: lighter;
  text-decoration: line-through;
}

.item-container {
  margin-left: 20px;
}

.menu {
  display: flex;
  float: right;
}

.menu li {
  list-style-type: none;
}

.menu-item {
  padding: 10px;
}

.item-footer {
  border-bottom: 2px solid #AAAAAA;
  width: 500px;
  margin-left: 40px
}


/*Next Container*/
.next-container {
    height: 840px;
  /*border: 1px solid yellow;*/
  /*border-top: 5px solid black;*/
  }
  .next-header {
    /*border-bottom: 2px solid grey;*/
    height: 60px;
    width: 600px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .next-header::after {
      display: inline-block;
      margin-left: 50px;
      height: 3px;
      content: " ";
      text-shadow: none;
      background-color: #AAAAAA;
      width: 500px;
    }

  .back button {
    border: 1px solid #AAAAAA;
    border-radius: 100%;
    margin-right: 20px;
    margin-top: 15px;
    width: 50px;
    height: 50px;
    float: right;
    cursor: pointer;
    background-color: inherit;
    color: #AAAAAA;
    font-size: 40px;
  }

  .hide {
      display: none;
  }

.clear button {
  margin-right: 10px;
  margin-top: 15px;
  text-decoration: underline;
  float: right;
  border: none;
}

.next-container h2 {
  font-weight: lighter;
}

.next-element {
  border-bottom: 2px solid #AAAAAA;
  width: 575px;
  margin: 0 auto;
}
.next-element input {
  margin-bottom: 30px;
  margin-left: 30px;
  width: 500px;
  padding: 10px;
  font-size: 20px;
  border: none;
}
#description {
    height: 80px;
}
.next-footer {
  /*border: 1px solid purple;*/
  height: 50px;
  display: block;
}
.next-footer li {
  display: inline;
  padding-left: 40px;
  list-style-type: none;
}





/*Footer*/
.main-footer {
  /*border: 1px solid purple;*/
  position: fixed;
  height: 50px;
  display: flex;
  background-color: white;
}

.main-footer h4 {
  margin-left: 20px;
  color: #AAAAAA;
}

.main-footer ul {
  margin-top: 20px;
}

.main-footer li {
  display: inline;
  padding-left: 10px;
  list-style-type: none;
}
